* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --color-purple: #c780fa;
  --color-purple-light: #e3acf9;
  --color-yellow: #fada9d;
  --color-yellow-light: #fbf1d3;
  --color-light: #fffbeb;
  --color-dark: #181d31;
  --color-dark-light: #65647c;
  --fg: #17181c;
  --shade1: #727274;
  --shade2: #cccdd1;
  --shade3: #f3f4f8;
  --shade4: #ffffff;
  --dur1: 1s;
  --dur2: 6s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #e3e4e8;
    --shade1: #23252a;
    --shade2: #3e424c;
    --shade3: #4a4e5a;
    --shade4: #686e7e;
  }
}

body {
  background-color: var(--color-dark);
  background-image: url(../assets/bg.png);
  color: var(--color-light);
  font: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");
}
