.repos_container {
  display: flex;
  flex-direction: column;
}

/* add css to class repo_list with a aut grid that will display 3 columns */

.repo_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  padding: 25px 100px 75px 100px;
}
